astroplan==0.10
astropy[all]==6.0.1
astroquery==0.4.7
PyYAML==6.0.2
# matplotlib==3.8.4
# numpy==2.1.1
# pytz==2024.1
skyfield==1.49
pillow==10.3.0
pandas==2.2.2
requests==2.32.2

h5py==3.10.0
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
