astroplan==0.10
# astroplan==0.10.1
astropy[recommended]==6.0.1
# astropy[recommended]==7.0.0
astroquery==0.4.7
PyYAML==6.0.2
skyfield==1.49
pillow==10.3.0
pandas==2.2.2
requests==2.31.0
h5py==3.10.0
paho-mqtt==2.1.0

# matplotlib==3.9.2
# numpy==2.1.1
# pytz==2024.1
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
